*{
    margin: 0%;
}
.head{
    background-color: blue;
    text-align: center;
    color: white;
    font-size: 30px;
}
.banner{
    width: 100%;
    height: 500px;
    background-image: url("https://images.static-collegedunia.com/public/college_data/images/campusimage/1582695212_O6A4685.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h3{
    text-align: center;
}
.mydiv{
   background-color: burlywood;
}
.mydiv2{
    text-align: left;
    background-color: burlywood;
}
.div3{
    background-image:url("C:\Users\kovur\OneDrive\Documents\ex.03\front-campus-life-1.jpg");
    width: 400px;
    height: 600px;
}
.div4{
    
}


