*{
    margin: 0px;
}
.heading{
    height: 30px;
    background-color: darkblue;
    color: aliceblue;
    text-align: center;
    font-size: large;

}
.banner{
    width: 100%;
    height: 250px;
    background-image: url("R (1).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.about{
    font-size: larger;
    background-color: bisque;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
.para{
    font-size: medium;
    background-color: bisque;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
}
.box1{
    width: 500px;
    height: 300px;
    background-image: url("computer-science-and-engineering.jpg");
    background-repeat: no-repeat;
    float: left;  
}
.hed{
    width: 500px;
    opacity: 0.6;
    font-family:'Times New Roman', Times, serif;
    background-color: black;
    color: aliceblue;
    text-align: center;
}
.box2{
    width: 500px;
    height: 300px;
    background-image: url("library.jpeg");
    background-repeat: no-repeat;
    float: left;
    
}
.hed1{
    bottom: 20px;
    position: absolute;
    width: 500px;
    opacity: 0.5;
    font-family:'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    text-align: center;
}
.box3{
    width: 480px;
    height: 300px;
    background-image: url("lab.jpg");
    background-repeat: no-repeat;
    float: left;
    
}
.hed2{
    opacity: 0.6;
    font-family:'Times New Roman', Times, serif;
    background-color: black;
    color: aliceblue;
    text-align: center;
    position: relative;
}
.campus{
    width: 700px;
    background-color: bisque;
    font-family: georgia;
    
}
.para1{
    width: 700px;
    height: 300px;
    font-size: medium; 
    background-color: bisque;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
}
.box4{
    width: 780px;
    height: 300px;
    background-image: url("front-campus-life-1.jpg");
    background-repeat: no-repeat;
    float: right;
    position: relative;
}
.box5{
    padding: 300px,40px;
    width: 980px;
    height: 280px;
    background-image: url("R (1).jpg");
    background-repeat: no-repeat;
    float: left;
    
}
.box6{
    width: 500px;
    height: 400px;
    float:right;
}
.h{
    background-color: bisque;
    color: black;
}
.form{
  
    border-style: solid;
    background-color: rgb(238, 238, 238);
    color: rgb(11, 10, 11);
    width: 300px;
    height: 200px;
    margin: 10px 0px;
    padding: 300px,40px;
    box-sizing: border-box;
    border-radius: 3px;
}
.para2{
   width: auto;
   background-color: bisque; 
   font-size: medium;
   font-family: 'Times New Roman', Times, serif;
}
.button{
    background-color: lightblue;
    border-radius: 3px;
}